.backToTop {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 32px;
    line-height: 32px;
    font-family: verdana, arial;
    padding: 2px 0;
    background-color: #888;
    color: #fff;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.well h2 {
    color: #ee4444;
    font-size: 1.2em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
