<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
    data_track_clickback:true,
    siteNum:6,
    sm:"tsina,weixin,qzone,tqq,renren,fav",
    url:"http://www.makuiyu.cn",
    summary:"欢迎关注mky的Blog，请多多指教",
    title:"mkyforever |",
    ralateuid:{
        "tsina":"mkyforever"
    },
    appkey:{
        "tsina":"2245160238"
    },
    showClose:false,
    shortUrl:false,
    hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jiathis_r.js?uid=1998515&btn=r4.gif&move=1" charset="utf-8"></script>
<!-- JiaThis Button END -->
