<!-- Description -->
<div class="sidebar well">
    {{ site.description }}
</div>

<!-- WeChat -->
<div class="sidebar well">
    <h1>WeChat</h1>
    {% include wechat.html %}
</div>

<!-- Description -->
<div class="sidebar well">
    <h1>Description</h1>
    <ul>
        {% include description.html %}
    </ul>
</div>

<!-- Categories -->
<div class="sidebar well">
    <h1>Categories</h1>
    <ul>
        {% include categories.html %}
    </ul>
</div>

<!-- Tags -->
<div class="sidebar well">
    <h1>Tags</h1>
    {% include tag_cloud.html %}
</div>

<!-- Recent Posts -->
<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% include recent_posts.html %}
    </ul>
</div>

<!-- Links -->
<div class="sidebar well">
    <h1>Links</h1>
    <ul>
        {% include links.html %}
    </ul>
</div>

<!-- 51LA -->
<div class="sidebar well">
    <h1>Stat</h1>
    <ul>
        {% include 51LA.html %}
    </ul>
</div>
